$accent-color: '#0061D2';
$green: '#68E355';
$red: '#EA4A3E';
$placeholder: '#9CA1AA';
$inactive-btn-text: '#888D96';
$inactive-accent-color: '#05366E';

.grey {
  color: #6B7280;
}

.black {
  color: #030712;
}

.red {
  color: #DC2626;
}